@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-light: #ffffff;
  --foreground-light: #171717;
  --background-dark: #0a0a0a;
  --foreground-dark: #ededed;
}


body {
  color: var(--foreground-light);
  background: var(--background-light);
  font-family: var(--font-geist-sans);
  transition: background-color 0.2s ease, color 0.2s ease;
  display: grid;
  place-content: center;
}



html.dark body {
  color: var(--foreground-dark);
  background: var(--background-dark);
}


html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}


html.dark ::-webkit-scrollbar-thumb {
  background: #262626;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #999999;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}